body {
  max-width: 100%;
  max-height: 100%;
  font-family: 'Lato', arial, sans-serif;
  font-size: 1em;
}

h1 {
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5em;
}

/* header */

.header_logo img {
  max-width: 200px;
  width: 100%;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
}

.header_logo p {
  text-align: center;
  margin-bottom: 30px;
}

/* links */

a {
  text-decoration: none;
}

/* navigation */

.nav_list {
  width: 100%;
  margin: auto;
  padding: 0;
  margin-top: 20px;
  margin-bottom: 20px;
  text-align: center;
}

.nav_item {
  list-style-type: none;
  display: inline;
  padding: 10px;
}

/* about */

.about img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
}

/* projects */

.project_item {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 10px 20px 10px;
}

figure {
  display: inline-block;
}

figure img {
  vertical-align: top;
}

figcaption {
  text-align: center;
}


/* footer */

.footer h1 {
  text-align: center;
}

.footer_list {
  padding: 0;
  margin: 0;
  text-align: center;
}

.footer_item {
  list-style-type: none;
  display: inline;
  padding: 20px;
}
