.about , .projects , .project_item , .sample {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}


/* mobile */

@media screen and (max-width: 400px) {
  .project_item img {
    max-width: 90%;
    height: auto;
  }

/* landscape */

@media screen and (min-width: 600px) {
  .about {
    flex-wrap: nowrap;
    margin-bottom: 40px;
  }
  .about img {
    width: 20%;
    max-width: 500px;
    margin-top: 15px;
  }
  .about_info {
    width: 80%;
    margin-right: 40px;
  }
}

@media screen and (min-width: 900px) {
  .about , .header_logo , .projects_align , .nav_list , .footer {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
