.about , .project_item , .sample {
  display: inline-flex;
  flex-wrap: wrap;
}



@media screen and (min-width: 600px) {
  .about {
    flex-wrap: nowrap;
    margin-bottom: 40px;
  }

  .about img {
    width: 20%;
    max-width: 500px;
    margin-top: 15px;
  }

  .about_info {
    width: 80%;
    margin-right: 40px;
  }

}

@media screen and (max-width: 760px) {
  .sampleFlex {
    width: 100px;
    height: 100px;
    background-color: green;
    margin: 10px;
    flex-wrap: nowrap;
  }
}


@media screen and (min-width: 800px) {
  .project_item img {
    flex: 33.33%;
    padding: 10px;
  }
}


@media screen and (min-width: 900px) {
  .about  {
    width: 900px;
    margin-left: auto;
    margin-right: auto;
  }
}
